<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <!--<a ui-sref="app.Load" class="btn btn-info btn-labeled">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span>New
        </a>-->
        <button class="btn btn-warning btn-labeled" ng-click="isFilterOpen = !isFilterOpen" ng-show="!isFilterOpen">
            <span class="btn-label">
                <i class="fa fa-filter"></i>
            </span>Filter
        </button>
        <a ui-sref="app.MT940Loads" class="btn btn-inverse btn-labeled" ng-if="specificDetail">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Back
        </a>

    </div>
    <!-- END Language list    -->
    Statements
    <small>Details</small>
</h3>
<div class="container-fluid" ng-show="isFilterOpen">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">
                <input type="text" placeholder="Acount Number" class="form-control" ng-model="custsc.accountNumber"/>
            </div>
            <!--<div class="col-md-3">
                <p class="input-group">
                    <input type="text" placeholder="Select Date" 
                           uib-datepicker-popup="{{custsc.format}}" 
                           ng-model="custsc.dt" 
                           is-open="custsc.opened" 
                           min-date="custsc.minDate" 
                           max-date="'custsc.maxDate'" 
                           uib-datepicker-options="custsc.dateOptions" 
                           date-disabled="custsc.disabled(date, mode)"
                           close-text="Close" 
                           class="form-control" 
                           ng-disabled="true"/>
                    <span class="input-group-btn">
                        <button type="button" ng-click="custsc.open($event)" class="btn btn-default">
                            <em class="fa fa-calendar"></em>
                        </button>
                    </span>
                </p>
            </div>-->
            <!--<div class="col-md-3">
                <ui-select ng-model="custsc.Status.selected" theme="bootstrap" ng-disabled="custsc.disabled">
                    <ui-select-match placeholder="Select a status...">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="obj in custsc.Statuses | propsFilter: {Name: $select.search, Id: $select.search}">
                        <div ng-bind-html="obj.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>-->
            <button class="btn btn-success" ng-click="fiterData()">Filter</button>
            <button class="btn btn-default" ng-click="resetFilter()">Reset</button>
            
            <a class="pull-right" title="Hide filter Section" ng-click="isFilterOpen = !isFilterOpen"><i class="fa fa-compress"></i></a>
        </div>

    </div>
</div>

    <div class="container-fluid animated">
        <!-- Grid view to show listview with searching, sorting and pagination-->
        <div ui-grid="custsc.gridOptions" ui-grid-pagination ui-grid-move-columns ui-grid-resize-columns class="table-uigrid flip resizableGrid"></div>
    </div>
<script type="text/javascript">
    $(document).ready(function () {

        if (window.innerHeight > 400) {
            height = window.innerHeight - 205;
            $('.resizableGrid').height(height + "px");
        }


    });
</script>