<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <!--<a class="btn btn-info btn-labeled" ng-disabled="toProcess" ng-click="processLoad()">
            <span class="btn-label">
                <i class="fa fa-refresh"></i>
            </span>Process
        </a>-->
        <a class="btn btn-inverse btn-labeled" onclick="history.back()">
            <span class="btn-label">
                <i class="fa fa-arrow-left"></i>
            </span>Back
        </a>
    </div>
    <!-- END Language list    -->
    Oracle Entry Detail
    <small>Details</small>
</h3>
<div class="panel panel-default">
    <div class="panel-heading">Further Details
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p class="lead bb">Oracle GL Entry Details</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">OracleGLLoadId</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.OracleGLLoadId}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">CreatedOn</div>
                        <div class="col-sm-8">
                            <strong>
                                <label class='label'>
                                    {{ogledc.OracleGLEntry.CreatedOn}}
                                </label>
                            </strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">ModifiedOn</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.ModifiedOn}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">CreatedBy</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.CreatedBy}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">AccountNumber</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.AccountNumber}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">AccountedCr</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.AccountedCr}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">AccountedDr</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.AccountedDr}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Currency</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.Currency}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">EffectiveDate</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.EffectiveDate}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">EnteredCr</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.EnteredCr}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">UniqueReferenceKey</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.UniqueReferenceKey}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">EntrySource</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.EntrySource}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Period</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.Period}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">OracleGLEntryId</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.OracleGLEntryId}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">EnteredDr</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.EnteredDr}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">ExchangeRate</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.ExchangeRate}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">JECreationDate</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.JECreationDate}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">JELastUpdateDate</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.JELastUpdateDate}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">JournalEntryDescription</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.JournalEntryDescription}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">JournalEntryHeaderNumber</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.JournalEntryHeaderNumber}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">LineDescription</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.LineDescription}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">SubAccountDescription</div>
                        <div class="col-sm-8">
                            <strong>{{ogledc.OracleGLEntry.SubAccountDescription}}</strong>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
