<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <a ui-sref="app.NewLoadStatus" class="btn btn-info btn-labeled">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span>New
        </a>
    </div>
    <!-- END Language list    -->
    Load Status
    <small>Details</small>
</h3>

<div class="container-fluid animated">
    <!-- Grid view to show listview with searching, sorting and pagination-->
    <div ui-grid="lsc.gridOptions" ui-grid-pagination class="table-uigrid"></div>
</div>
