<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="RefDataLoadTypeMT940Id" value="1"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="FRSMT940LoaderContext" connectionString="metadata=res://*/FRSMT940LoaderModel.csdl|res://*/FRSMT940LoaderModel.ssdl|res://*/FRSMT940LoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cp.bilalrehman.com;initial catalog=GF-FRS-V.2;persist security info=True;user id=gf-frs;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="FRSMT940LoaderContext" connectionString="metadata=res://*/FRSMT940LoaderModel.csdl|res://*/FRSMT940LoaderModel.ssdl|res://*/FRSMT940LoaderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=GF-FRS-V.2;persist security info=True;user id=sa;password=p@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="FRS.MT940LoaderService.WCF.FRSMT940LoaderWCFService" behaviorConfiguration="FRSMT940LoaderBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9091/gulffinance/frs/mt940"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:9091/gulffinance/frs/mt940  -->
        <endpoint address="" binding="wsHttpBinding" contract="FRS.MT940LoaderService.WCF.IFRSMT940LoaderWCFService"/>
        <!-- the mex endpoint is exposed at http://localhost:9091/gulffinance/frs/mt940/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FRSMT940LoaderBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.37.0" newVersion="1.1.37.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
