<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <a ui-sref="app.CreateStatus" class="btn btn-info btn-labeled">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span>New
        </a>
    </div>
    <!-- END Language list    -->
    Status
    <small>Details</small>
</h3>

<div class="container-fluid animated">
    <!-- Grid view to show listview with searching, sorting and pagination-->
    <div ui-grid="sc.gridOptions" ui-grid-pagination class="table-uigrid resizableGrid"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        if (window.innerHeight > 400) {
            height = window.innerHeight - 205;
            $('.resizableGrid').height(height + "px");
        }


    });
</script>