<div id="div2" ng-show="IsShowEdit">
    <div class="well col-md-12">
        <div class="float-left detailsContainer">
            <h3 class="page-header detailsHeaderSection float-left">Load Data</h3>
            <button class="btn  btn-info" id="saveLoadbtn" ng-disabled="!loadForm.$dirty" ng-click="saveMT940Detail()">@FRS.Web.Resources.Shared.Common.Save</button>
            <button class="btn  btn-default" id="cancelLoadbtn" ng-click="onEditCancel()">@FRS.Web.Resources.Shared.Common.Cancel</button>
        </div>
        <form class="form-horizontal" name="loadForm">
            <div class="form-group">
                <label class="control-label h5 col-sm-2">Load Meta Data</label>
                <div class="col-md-3">
                    <select class="form-control" ng-model="LoadMetadataId" ng-options="obj as obj.Name for obj in LoadMetadataDropDown" ng-change="showHideFileUploader(LoadMetadataId)">
                        <option value="">Select</option>
                    </select>
                </div>
                <div ng-show="IsLoadTypeMT940">
                    <label class="control-label h5 col-sm-2">Upload File</label>
                    <div class="col-md-3">
                        <input class="form-control" type="file" onchange="angular.element(this).scope().readPhotoURL(this)" />
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="IsLoadTypeMT940">
                <label class="control-label h5 col-sm-2">Load Type</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="LoadTypeName" ng-readonly="true" />
                </div>
                <label class="control-label h5 col-sm-2">Source</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="SourceName" ng-readonly="true" />
                </div>
            </div>
            <div class="form-group" ng-show="IsLoadTypeMT940">
                <label class="control-label h5 col-sm-2">Last Modified</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" ng-model="LastModified" ng-readonly="true" />
                </div>
            </div>
        </form>
    </div>
</div>