
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainDiv" ng-app="FRSApp" ng-controller="FRSLoadController">
    <div id="div1" ng-show="!IsShowEdit">
        <div class="row">
            <h3 class="page-header float-left pageHeaderSection">MT940 Loads</h3>
            <div class="header-toolsSection">
                <a href="#" class="label label-default create-new-icon" ng-click="showEdit()" title="@FRS.Web.Resources.Shared.Common.CreateNew">@FRS.Web.Resources.Shared.Common.New</a>
            </div>
        </div>

        <div class="row searchFilterResultSection">
            <div class="well">
                <table id="table" class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="th-pointer"><span id="1">Start</span></th>
                            <th class="th-pointer"><span id="2">Finish</span></th>
                            <th class="th-pointer"><span id="2">InProgress</span></th>
                            <th class="th-pointer"></th>
                            <th class="th-pointer"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="load in loadList">
                            <td>{{load.Start}}</td>
                            <td>{{load.Finish}}</td>
                            <td>{{load.InProgress}}</td>
                            <td><a href="#" ng-click="editLoad(load.LoadId)" title="Edit"><span class="glyphicon glyphicon-edit"></span></a></td>
                            <td><a href="#" ng-click="deleteLoad(load.LoadId)" confirm="Are you sure to delete?" title="Delete"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    </tbody>
                </table>
                <table datatable="" dt-options="dtOptions" dt-columns="dtColumns"></table>
                <table id="foobar" datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"></table>
            </div>
        </div>
    </div>

    @Html.Partial("_MT940LoadEditor")
</div>
<script src="~/Areas/FRS/Scripts/frsAppController.js"></script>
<script src="~/Areas/FRS/Scripts/frsDataService.js"></script>