<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <a href="#" class="btn btn-success btn-labeled" ng-click ="upc.saveProfile()">
            <span class="btn-label">
                <i class="fa fa-save"></i>
            </span>Save
        </a>
        <!--<button class="btn btn-warning btn-labeled" ng-click="isFilterOpen = !isFilterOpen" ng-show="!isFilterOpen">
                <span class="btn-label">
                    <i class="fa fa-filter"></i>
                </span>Filter
            </button>-->
    </div>
    <!-- END Language list    -->
    Profile
    <small>Add/Edit</small>
</h3>
<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" placeholder="Enter First Name" class="form-control" ng-model="upc.user.FirstName" />
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" placeholder="Enter Last Name" class="form-control" ng-model="upc.user.LastName" />
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" placeholder="Enter email" class="form-control" ng-model="upc.user.Email" />
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" placeholder="Enter address" class="form-control" ng-model="upc.user.Address" />
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" placeholder="Enter Phone" class="form-control" ng-model="upc.user.Telephone" />
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <ui-select ng-model="upc.Roles.selected" theme="bootstrap" ng-disabled="upc.disabled" style="width: 100%">
                        <ui-select-match placeholder="Select a Role...">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="role in upc.Roles | propsFilter: {Name: $select.search}">
                            <div ng-bind-html="role.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>
        </div>
    </div>
</div>
