<h3>
    <!-- START Language list-->
    <div class="pull-right">

    </div>
    <!-- END Language list    -->
    Load
    <small>Create</small>
</h3>


<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-heading">Create New Load</div>
    <div class="panel-body">
        <form form-wizard="" validate-steps="true" validate-form="" steps="4" name="ldc.formValidate">
            <div class="form-wizard wizard-horizontal">
                <!-- START wizard steps indicator-->
                <ol class="row">
                    <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-3">
                        <h4>Load</h4>
                        <small class="text-muted">Short Description</small>
                    </li>
                    <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-3">
                        <h4>MetaData</h4>
                        <small class="text-muted">Short Description</small>
                    </li>
                    <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-3">
                        <h4>Confirmation</h4>
                        <small class="text-muted">Short Description</small>
                    </li>
                    <li ng-class="{'active':wizard.active(4)}" class="col-md-3">
                        <h4>Done!</h4>
                        <small class="text-muted">Short Description</small>
                    </li>
                </ol>
                <!-- END wizard steps indicator-->
                <!-- START Wizard Step inputs -->
                <div id="step1" ng-show="wizard.active(1)">
                    <fieldset>
                        <legend>Load</legend>
                        <!-- START row -->
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label requiredLabel">Name</label>
                                <div class="controls">
                                    <input type="text" name="name" ng-model="ldc.LoadName" data-parsley-group="step1" placeholder="Load name here" required="required" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!-- END row -->
                    </fieldset>
                    <ul class="pager">
                        <li class="next">
                            <a ng-click="wizard.go(2)">Next <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div id="step2" ng-show="wizard.active(2)">
                    <fieldset>
                        <legend>MetaData</legend>
                        <!-- START row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 controls" ng-class="{ 'has-error': ldc.validateInput(ldc.formValidate.LoadMetaDatas, 'required') }">
                                    <label for="LoadMetaDatas" class="control-label requiredLabel">Metadata</label>
                                    <ui-select required="" name="LoadMetaDatas" id="LoadMetaDatas" ng-model="ldc.LoadMetaDatas.selected" theme="bootstrap" data-parsley-group="step2">
                                        <ui-select-match placeholder="Select a Metadata...">
                                            {{$select.selected.Name}}
                                            <span class="resetDdl" ng-click="clear($event)">
                                                <i class="fa fa-times"></i>
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="obj in ldc.LoadMetaDatas | propsFilter: {Name: $select.search}">
                                            <div ng-bind-html="obj.Name | highlight: $select.search"></div>
                                            <small>
                                                Type:
                                                <span ng-bind-html="''+ obj.Type | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                        </div>
                        <!-- END row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label requiredLabel">Load Type</label>
                                    <input class="form-control" type="text" ng-model="LoadTypeName" ng-readonly="true" required="required" data-parsley-group="step2" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label requiredLabel">Source</label>
                                    <input class="form-control" type="text" ng-model="SourceName" ng-readonly="true" required="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label requiredLabel">Header</label>
                                    <input class="form-control" type="text" ng-model="Header" ng-readonly="true" required="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label requiredLabel">Trailer</label>
                                    <input class="form-control" type="text" ng-model="Trailer" ng-readonly="true" required="" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><!-- <div class="col-md-12" ng-if="IsLoadTypeMT940"> -->
                                <div class="col-md-12">
                                    <label class="control-label requiredLabel">Upload File</label>
                                    <input filestyle="" type="file" data-button-text="Upload File" data-class-button="btn btn-success"
                                           file-model="ldc.loadFile"
                                           data-classinput="form-control inline" nv-file-select=""
                                           class="form-control"
                                           data-parsley-group="step2"
                                           required="required"
                                           id="loadFile"
                                           onchange=" angular.element(this).scope().readFile(this) "/>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                    <ul class="pager">
                        <li class="previous">
                            <a ng-click="wizard.go(1)">
                                <span>&larr; Previous</span>
                            </a>
                        </li>
                        <li class="next">
                            <a ng-click="wizard.go(3)">Next <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div id="step3" ng-show="wizard.active(3)">
                    <fieldset>
                        <legend>Summary & Confirmation</legend>
                        <!-- START row -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Load Name</label>:
                                    <span><code>{{ldc.LoadName}}</code></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Metadata</label>:
                                    <span><code>{{ldc.LoadMetaDatas.selected.Name}}</code></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Load Type</label>:
                                    <span><code>{{LoadTypeName}}</code></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Source</label>:
                                    <span><code>{{SourceName}}</code></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Header</label>:
                                    <span><code>{{Header}}</code></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Trailer</label>:
                                    <span><code>{{Trailer}}</code></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>:
                                    <span><code>{{Currency}}</code></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">File</label>:
                                    <span><code>{{ldc.loadFile.name}}</code></span>
                                </div>
                            </div>
                        </div>
                        <!-- END row -->
                    </fieldset>
                    <ul class="pager">
                        <li class="previous">
                            <a ng-click="wizard.go(2)">
                                <span>&larr; Previous</span>
                            </a>
                        </li>
                        <li class="next">
                            <!--<a ng-click="wizard.go(4)">Next <span>&rarr;</span></a>-->
                            <a ng-click="finalize();">Next <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div id="step4" ng-show="wizard.active(4)">
                    <div class="jumbotron">
                        <h1>Done!</h1>
                        <p>In vulputate mattis ipsum vitae vehicula. Praesent at arcu non arcu convallis pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            <button type="button" class="btn btn-info btn-lg">You can Proceed Now</button>
                        </p>
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a ng-click="wizard.go(3)">
                                <span>&larr; Previous</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
            </div>
        </form>
    </div>
</div>
<!-- END panel -->