<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <a ng-click="reconcile()" class="btn bg-green-light btn-labeled" ng-disabled="toReconcile">
            <span class="btn-label">
                <i class="fa fa-cogs"></i>
            </span>Reconcile
        </a>
        <!--<a ng-click="done()" class="btn bg-purple-light btn-labeled">
                <span class="btn-label">
                    <i class="fa fa-check"></i>
                </span>Apply
            </a>-->
        <button class="btn btn-warning btn-labeled" ng-click="isFilterOpen = !isFilterOpen" title="Toggle filter section">
            <span class="btn-label">
                <i class="fa fa-filter"></i>
            </span>Filter
        </button>
    </div>
    <!-- END Language list    -->
    Manual Reconciliation
    <small>Reconciliation</small>
</h3>

<div class="container-fluid">
    <div class="col-md-6 first_element_to_target">
        <div class="container-fluid" ng-show="isFilterOpen">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" placeholder="Select Date"
                                   uib-datepicker-popup="{{mrc.format}}"
                                   ng-model="mrc.dt"
                                   is-open="mrc.opened"
                                   min-date="mrc.minDate"
                                   max-date="'mrc.maxDate'"
                                   uib-datepicker-options="mrc.dateOptions"
                                   date-disabled="mrc.disabled(date, mode)"
                                   close-text="Close"
                                   class="form-control"
                                   ng-disabled="true" />
                            <span class="input-group-btn">
                                <button type="button" ng-click="mrc.open($event)" class="btn btn-default">
                                    <em class="fa fa-calendar"></em>
                                </button>
                            </span>
                        </p>
                    </div>
                    <button class="btn btn-success" ng-click="fiterData()">Filter</button>
                    <button class="btn btn-default" ng-click="resetFilter()">Reset</button>

                    <!--<a class="pull-right" title="Hide filter Section" ng-click="isFilterOpen = !isFilterOpen"><i class="fa fa-compress"></i></a>-->
                </div>

            </div>

        </div>

        <div class="container-fluid" ng-show="mrc.OracleEntry != undefined">


            <div class="col-md-6">
                <span>T<strong >ype</strong>: </span>
                <label class="label" ng-class="{'bg-green-light':mrc.OracleEntry.Type == 'Credit', 'bg-primary-light' : mrc.OracleEntry.Type == 'Debit'}">{{mrc.OracleEntry.Type}}</label>
            </div>
            <div class="col-md-6">
                <span><strong >Amount:</strong> </span>
                <label class="label bg-purple-light">{{mrc.OracleEntry.Amount | number}}&nbsp;{{mrc.OracleEntry.Currency}}</label>
            </div>


        </div>

                        <h4 class="bg-purple-light p-sm">Accounting Entries</h4>
                        <div class="container-fluid">
                            <!-- Grid view to show listview with searching, sorting and pagination-->
                            <div ui-grid="mrc.gridOracleOptions" ui-grid-selection ui-grid-pagination ui-grid-move-columns ui-grid-resize-columns class=""></div>
                        </div>
                    </div>

                    <div class="col-md-6" id="second_element_to_target">
                        <div class="container-fluid" ng-show="isFilterOpen">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <p class="input-group">
                                            <input type="text" placeholder="Select Date"
                                                   uib-datepicker-popup="{{custstc.format}}"
                                                   ng-model="custstc.dt"
                                                   is-open="custstc.opened"
                                                   min-date="custstc.minDate"
                                                   max-date="'custstc.maxDate'"
                                                   uib-datepicker-options="custstc.dateOptions"
                                                   date-disabled="custstc.disabled(date, mode)"
                                                   close-text="Close"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <span class="input-group-btn">
                                                <button type="button" ng-click="custstc.open($event)" class="btn btn-default">
                                                    <em class="fa fa-calendar"></em>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                    <button class="btn btn-success" ng-click="fiterData()">Filter</button>
                                    <button class="btn btn-default" ng-click="resetFilter()">Reset</button>

                                    <!--<a class="pull-right" title="Hide filter Section" ng-click="isFilterOpen = !isFilterOpen"><i class="fa fa-compress"></i></a>-->
                                </div>

                            </div>

                        </div>
                        <div class="container-fluid" ng-show="mrc.OracleEntry != undefined">
                            
                            <div class="col-md-6 pull-left">
                                <span><strong >Remaining Balance:</strong> </span>
                                <label class="label bg-primary-light">{{mrc.RemainingAmount | number}}</label>
                            </div>


                        </div>
                        <h4 class="bg-primary-light p-sm">Transactions</h4>
                        <div class="container-fluid">
                            <!-- Grid view to show listview with searching, sorting and pagination-->
                            <div ui-grid="mrc.gridTransactionOptions" ui-grid-selection ui-grid-pagination ui-grid-resize-columns class=""></div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-lg third_element_to_target">
                        <h4 class="bg-green-light p-sm">Accounting Entries <span ng-show="mrc.gridOptions.data.length > 0" class="ml-lg">(Running balance: {{mrc.RunningBalance | number}})</span></h4>
                        <!--<h4 class="mt-lg">Mappings</h4>-->
                        <!-- Grid view to show listview with searching, sorting and pagination-->
                        <div ui-grid="mrc.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-move-columns ui-grid-resize-columns class=""></div>
                    </div>
                </div>


                <!-- this set of pageguide steps will be displayed by default. -->
                <ul id="tlyPageGuide" data-tourtitle="Follow the steps">
                    <!-- use these classes to indicate where each number bubble should be
                        positioned. data-tourtarget should contain the selector for the element to
                        which you want to attach this pageguide step. -->
                    <li class="tlypageguide_left" data-tourtarget=".first_element_to_target h4">
                        Select an Accounting entry from this Oracle GL entry table. Once selected you can click on multiple
                        Transactions.
                    </li>
                    <li class="tlypageguide_top" data-tourtarget="#second_element_to_target h4">
                        After selecting Accounting entry, you can select multiple Transactions. The transactions which are selected will be removed from the corresponding grid and
                        will be displaed in the selected transactions grid.
                    </li>
                    <li class="tlypageguide_left" data-tourtarget=".third_element_to_target h4">
                        Here your selected mappings will appear as soon as you select some records to reconcile.
                        Press "Reconcile" button to save the changes.
                    </li>
                </ul>

                <div class="tlyPageGuideWelcome">
                    <p style="align-content: center"><b>Welcome to Manual Reconciliation.</b></p>
                    <br />
                    <p>This guide will help you understand and use this functionality better.</p>
                    <p>1. Select entry from Oracle GL grid.</p>
                    <p>2. Select entries from Customer Transactions Grid.</p>
                    <p>3. Press Reconcile to save the changes</p>


                    <br />
                    <button class="tlypageguide_start">Let's Go</button>
                    <button class="tlypageguide_ignore">Not Now</button>
                    <button class="tlypageguide_dismiss">Got it, Thanks</button>
                </div>

<style>
    .tlypageguide_shadow {
        z-index: 999 !important;
    }

    #tlyPageGuideWrapper #tlyPageGuideToggles {
        top: 110px !important;
    }

    .tlypageguide_shadow {
        background: rgba(0, 255, 119, 0.1) !important;
        box-shadow: 0 0 1px 1px darkgreen !important;
    }


    #tlyPageGuideWrapper #tlyPageGuideMessages {
        background: #7266ba !important;
    }

    .tlypageguide-open #tlyPageGuideWrapper .tlypageguide_toggle.tlyPageGuideToggleActive {
        background: darkgreen !important;
    }

    .tlypageguide-active .tlyPageGuideStepIndex {
        background: darkgreen !important;
    }

    .tlypageguide-active .tlyPageGuideStepIndex.tlypageguide_right:after, .tlypageguide-active .tlyPageGuideStepIndex.tlypageguide_left:after, .tlypageguide-active .tlyPageGuideStepIndex.tlypageguide_top:after {
        border-top: 15px solid darkgreen !important;
    }

    .tlyPageGuideStepIndex {
        background: lightgreen !important;
    }

    .tlyPageGuideStepIndex.tlypageguide_left:after {
        border-top: 15px solid lightgreen !important;
    }

    .tlyPageGuideStepIndex.tlypageguide_top:after {
        border-top: 15px solid lightgreen !important;
    }

    #tlyPageGuideWrapper #tlyPageGuideMessages span {
        background: darkgreen !important;
    }

    .tlyPageGuideWelcome button, #tlyPageGuideWelcome button {
        background: darkgreen !important;
        font-size: 21px !important;
    }

    .tlyPageGuideWelcome, #tlyPageGuideWelcome {
        background: rgba(0,102,186,0.85) !important;
        font-family: "Source Sans Pro", sans-serif !important;
    }
/*    .tlypageguide-active .tlyPageGuideStepIndex.tlypageguide_right:after, .tlypageguide-active .tlyPageGuideStepIndex.tlypageguide_left:after, .tlypageguide-active .tlyPageGuideStepIndex.tlypageguide_top:after {
                            background: darkgreen !important;
                        }
                    .tlyPageGuideStepIndex {
                        background: lightgreen !important;
                    }
                        .tlyPageGuideStepIndex.tlypageguide_left:after {
                            background: lightgreen !important;
                        }

                    .tlypageguide_shadow {
                        background: darkgreen !important;
                    }

                    .tlyPageGuideStepIndex.tlypageguide_top:after {
                        background: lightgreen !important;
                    }
                    #tlyPageGuideWrapper #tlyPageGuideMessages span {
                        background: darkgreen !important;
                    }
                    .tlyPageGuideStepIndex:hover.tlypageguide_right:after, .tlyPageGuideStepIndex:hover.tlypageguide_left:after, .tlyPageGuideStepIndex:hover.tlypageguide_top:after {
                        background: lightgreen !important;
                    }
                    .tlyPageGuideStepIndex.tlypageguide_top:after {
                        background: lightgreen !important;
                    }*/
                </style>

<style>
    .ngdialog.ngdialog-theme-default {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

        .ngdialog.ngdialog-theme-default .ngdialog-content {
            max-width: 80% !important;
            width: auto !important;
        }
</style>

<!-- Modal Templates -->
<script type="text/ng-template" id="OralceEntryDetail">
    <div class="container-fluid">
                <!--<div class="col-md-9">-->
                    <div class="col-md-12"><h3 class="bb mt0">Accounting Entry Detail</h3></div>
                    <form class="form-horizontal p-20">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-4">Oracle GL Load Id</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.OracleGLLoadId}}</strong>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">Account Number</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.AccountNumber}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Accounted Credit</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.AccountedCr}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Accounted Debit</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.AccountedDr}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Currency</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.Currency}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Effective Date</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.EffectiveDate}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Entered Credit</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.EnteredCr}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Unique Reference Key</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.UniqueReferenceKey}}</strong>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">Entry Source</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.EntrySource}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Sub Account Description</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.SubAccountDescription}}</strong>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-4">Period</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.Period}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Oracle GL Entry Id</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.ngDialogData.OracleGLEntryId}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Entered Debit</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.EnteredDr}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Exchange Rate</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.ExchangeRate}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">JE Creation Date</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.JECreationDate}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">JE Last UpdateDate</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.JELastUpdateDate}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Journal Entry Description</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.JournalEntryDescription}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Journal Entry Header Number</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.JournalEntryHeaderNumber}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">Line Description</div>
                                <div class="col-sm-8">
                                    <strong class="wordWrap">{{ngDialogData.OracleGLEntry.LineDescription}}</strong>
                                </div>
                            </div>
                            
                        </div>

                    </form>
                    <button type="button" class="btn btn-danger pull-right" ng-click="mc.closeDialog()">
                        Close
                    </button>
                <!--</div>-->
    </div>
</script>

<script type="text/ng-template" id="TransactionDetail">
    <style>
        .ngdialog.ngdialog-theme-default {
        padding-top: 160px !important;
    }
    </style>
    <div class="container-fluid">
        <!--<div class="col-md-9">-->
        <div class="col-md-12"><h3 class="bb mt0">Transaction Detail</h3></div>
        <form class="form-horizontal p-20">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">Transaction Id</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap">{{ngDialogData.Transaction.MT940CustomerStatementTransactionId}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Statement Id</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap">{{ngDialogData.Transaction.MT940CustomerStatementId}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">DebitOrCredit</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap"><label class="label" ng-class="{'bg-green-light':ngDialogData.Transaction.DebitOrCredit == 'Credit', 'bg-primary-light' : ngDialogData.Transaction.DebitOrCredit == 'Debit'}"></label>{{ngDialogData.Transaction.DebitOrCredit}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Amount</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap">{{ngDialogData.Transaction.Amount}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Reference</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap">{{ngDialogData.Transaction.Reference}}</strong>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-sm-4">Transaction Type</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap">{{ngDialogData.Transaction.TransactionType}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Sequence</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap">{{ngDialogData.Transaction.Sequence}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Value</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap">{{ngDialogData.Transaction.Value}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Value Date</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap">{{ngDialogData.Transaction.ValueDate}}</strong>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">Entry Date</div>
                    <div class="col-sm-8">
                        <strong class="wordWrap">{{ngDialogData.Transaction.EntryDate}}</strong>
                    </div>
                </div>
            </div>
        </form>
       
        <button type="button" class="btn btn-danger pull-right" ng-click="mc.closeDialog()">
            Close
        </button>
        <!--</div>-->
    </div>

</script>
