<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <button onclick="history.back()" class="btn btn-info btn-labeled">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span>New
        </button>
        <!--<button class="btn btn-warning btn-labeled" ng-click="isFilterOpen = !isFilterOpen" ng-show="!isFilterOpen">
            <span class="btn-label">
                <i class="fa fa-filter"></i>
            </span>Filter
        </button>-->
      

    </div>
    <!-- END Language list    -->
    Reconciliation Set
    <small>Manual & Auto Reconciliation List</small>
</h3>

<div class="container-fluid animated">
    <!-- Grid view to show listview with searching, sorting and pagination-->

</div>

