<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="true" />
  </configSections>
  <connectionStrings>
    <add name="FRSDbLogging" connectionString="Data Source=.;Initial Catalog=GF-FRS-DEV;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=GF-FRS-DEV;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=GF-FRS-DEV;integrated security=True;user id=&quot;sa, password=p@ssw0rd&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  
  <!--Deployement-->
    <!--<add name="FRSDbLogging" connectionString="Data Source=tcp:frs.database.windows.net,1433;Database=GFFRS;User ID=frsAdmin@frs;Password=p@ssw0rd;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=tcp:frs.database.windows.net,1433;Database=GFFRS;User ID=frsAdmin@frs;Password=p@ssw0rd;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
    <add name="BaseDbContext" connectionString="metadata=res://*/BaseRepository.Model.csdl|res://*/BaseRepository.Model.ssdl|res://*/BaseRepository.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;tcp:frs.database.windows.net,1433;Database=GFFRS;User ID=frsAdmin@frs;Password=p@ssw0rd;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" databaseInstanceName="FRSDbLogging" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter" traceOutputOptions="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;LogCategory: {logcategory}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="System.ServiceModel" />
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <!--Email FROM settings-->
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="FromAddress" value="testinnostark4@gmail.com" />
    <add key="FromPassword" value="elegantflower1" />
    <add key="FromDisplayName" value="Attendance - Innostark" />
    <add key="EnableSSL" value="1" />
    <add key="CC" value="" />
    <add key="BCC" value="jahangir@innostark.com" />
    <add key="ToAdmin" value="testinnostark3@gmail.com" />
    <!--end Email FROM settings-->
    <add key="LoadTypeFile" value="MT940" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState customProvider="DefaultSessionProvider" mode="InProc" timeout="10">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_FrsOracleGLLoaderService" />
        <binding name="BasicHttpsBinding_FrsOracleGLLoaderService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_BankMT940Loader" />
        <binding name="BasicHttpsBinding_BankMT940Loader">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://frsintegrationsvcs.azurewebsites.net/Svc.Accounts.OracleGL/AccountsOracleGLLoader.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_FrsOracleGLLoaderService"
        contract="AccountsOracleGLLoader.FrsOracleGLLoaderService" name="BasicHttpBinding_FrsOracleGLLoaderService" />
      <endpoint address="https://frsintegrationsvcs.azurewebsites.net/Svc.Accounts.OracleGL/AccountsOracleGLLoader.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_FrsOracleGLLoaderService"
        contract="AccountsOracleGLLoader.FrsOracleGLLoaderService" name="BasicHttpsBinding_FrsOracleGLLoaderService" />
      <endpoint address="http://frsintegrationsvcs.azurewebsites.net/Svc.Bank.MT940/BankMT940Loader.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BankMT940Loader"
        contract="BankMT940Loader.BankMT940Loader" name="BasicHttpBinding_BankMT940Loader" />
      <endpoint address="https://frsintegrationsvcs.azurewebsites.net/Svc.Bank.MT940/BankMT940Loader.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_BankMT940Loader"
        contract="BankMT940Loader.BankMT940Loader" name="BasicHttpsBinding_BankMT940Loader" />
    </client>
  </system.serviceModel>
</configuration>
