<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <a class="btn btn-info btn-labeled" ng-if="!oglldc.load.InProgress">
            <span class="btn-label">
                <i class="fa fa-refresh fa-spin"></i>
            </span>Process
        </a>
    </div>
    <!-- END Language list    -->
    {{oglldc.load.Name}} - ORACLE GL Load
    <small>Details</small>
</h3>
<div class="panel panel-default">
    <div class="panel-heading">Further Details</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p class="lead bb">ORACLE GL Load</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">File</div>
                        <div class="col-sm-8">
                            <strong>{{oglldc.OracleGlLoad.FileName}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Status</div>
                        <div class="col-sm-8">
                            <strong>
                                <label class='label' ng-class=" {
                                           'bg-warning-light' : mt940ldc.mt940Load.Status == 'Created' || mt940ldc.mt940Load.Status == 'Submitted' ,
                                           'bg-green-light' : mt940ldc.mt940Load.Status == 'Parsing' || mt940ldc.mt940Load.Status == 'Transforming' || mt940ldc.mt940Load.Status == 'Importing' ,
                                           'bg-success' : mt940ldc.mt940Load.Status == 'Completed' ,
                                           'bg-danger' : mt940ldc.mt940Load.Status == 'Failed' }">
                                    {{mt940ldc.mt940Load.Status}}
                                </label>
                            </strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Statement Count</div>
                        <div class="col-sm-8">
                            <strong>{{oglldc.OracleGlLoad.CustomerStatementCount}}</strong>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead bb">Load</p>
                <form class="form-horizontal p-20">
                    <div class="form-group">
                        <div class="col-sm-4">Name</div>
                        <div class="col-sm-8">
                            <strong>{{oglldc.load.Name}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Start</div>
                        <div class="col-sm-8">
                            <strong>{{oglldc.load.StartString}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">In Progress</div>
                        <div class="col-sm-8">
                            <strong class="btn btn-xs" ng-class="{'bg-green-light':mt940ldc.load.InProgress, 'bg-primary-light': !mt940ldc.load.InProgress}">{{mt940ldc.mt940Load.ProgressTitle}}</strong>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">Modified On</div>
                        <div class="col-sm-8">
                            <strong>{{oglldc.load.ModifiedOnStr}}</strong>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <!--<div class="alert alert-warning">
                <em class="fa fa-exclamation-circle fa-lg fa-fw"></em>Shipping address is different than billing address
            </div>-->
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Oracle GL Entries</div>
    <div class="panel-body">
        <div class="container-fluid animated">
            <!-- Grid view to show listview with searching, sorting and pagination-->
            <div ui-grid="oglldc.gridOptions" ui-grid-pagination ui-grid-move-columns ui-grid-resize-columns class="table-uigrid flip"></div>
        </div>
    </div>
</div>