
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainDiv" ng-app="FRSApp" ng-controller="LoadMetaDataController">
    <div id="div1" ng-show="!IsShowEdit">
        <div class="row">
            <h3 class="page-header float-left pageHeaderSection">Load Meta Data</h3>
            <div class="header-toolsSection">
                <a href="#" class="label label-default create-new-icon" ng-click="showEdit()" title="@FRS.Web.Resources.Shared.Common.CreateNew">@FRS.Web.Resources.Shared.Common.New</a>
            </div>
        </div>

        <div class="row searchFilterResultSection">
            <div class="well">
                <table id="table" class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="th-pointer">Name</th>
                            <th class="th-pointer">Header</th>
                            <th class="th-pointer">Currency</th>
                            <th class="th-pointer">Description</th>
                            <th class="th-pointer"></th>
                            <th class="th-pointer"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="metadata in loadMetaDataList">
                            <td>{{metadata.Name}}</td>
                            <td>{{metadata.Header}}</td>
                            <td>{{metadata.Currency}}</td>
                            <td>{{metadata.Description}}</td>
                            <td><a href="#" ng-click="editLoadMetaData(metadata.LoadMetaDataId)" title="Edit"><span class="glyphicon glyphicon-edit"></span></a></td>
                            <td><a href="#" ng-click="deleteLoadMetaData(metadata.LoadMetaDataId)" confirm="Are you sure to delete?" title="Delete"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @Html.Partial("_LoadMetaDataEditor")
</div>

<script src="~/Areas/FRS/Scripts/frsapp.js"></script>
<script src="~/Areas/FRS/Scripts/loadMetaDataController.js"></script>