<h3>
    <!-- START Language list-->
    <div class="pull-right">
      
        <button class="btn btn-warning btn-labeled" ng-click="isFilterOpen = !isFilterOpen" ng-show="!isFilterOpen">
            <span class="btn-label">
                <i class="fa fa-filter"></i>
            </span>Filter
        </button>
    </div>
    <!-- END Language list    -->
    Application Logs
    <small>Details</small>
</h3>

<div class="container-fluid" ng-show="isFilterOpen">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3">
                <input type="text" placeholder="Message" class="form-control" ng-model="lc.message" />
            </div>
            <div class="col-md-3">
                <p class="input-group">
                    <input type="text" placeholder="Select Time Stamp"
                           uib-datepicker-popup="{{lc.format}}"
                           ng-model="lc.dt"
                           is-open="lc.opened"
                           min-date="lc.minDate"
                           max-date="'lc.maxDate'"
                           uib-datepicker-options="lc.dateOptions"
                           date-disabled="lc.disabled(date, mode)"
                           close-text="Close"
                           class="form-control"
                           ng-disabled="true" />
                    <span class="input-group-btn">
                        <button type="button" ng-click="lc.open($event)" class="btn btn-default">
                            <em class="fa fa-calendar"></em>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-md-3">
                <input type="text" placeholder="Severity" class="form-control" ng-model="lc.severity" />
            </div>
            <button class="btn btn-success" ng-click="fiterData()">Filter</button>
            <button class="btn btn-default" ng-click="resetFilter()">Reset</button>

            <a class="pull-right" title="Hide filter Section" ng-click="isFilterOpen = !isFilterOpen"><i class="fa fa-compress"></i></a>
        </div>

    </div>
</div>

<div class="container-fluid">
    <!-- Grid view to show listview with searching, sorting and pagination-->
    <div ui-grid="lc.gridOptions" ui-grid-pagination ui-grid-move-columns ui-grid-resize-columns class="table-uigrid">

        <!--<div class="" ng-hide="!loading">
            <div class="line-scale-pulse-out" style="position: absolute; left: 0;  right: 0; top: 100px; vertical-align: middle; text-align: center">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>-->
    </div>
</div>