<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <button ng-click="saveLoadMetaDataDetail(false)" ng-disabled="!cmdc.formValidate.$dirty" type="button" class="btn btn-labeled btn-success">
            <span class="btn-label">
                <i class="fa fa-check"></i>
            </span><span class="hidden-480" ng-if="!update">Save</span>
            <span class="hidden-480" ng-if="update">Update</span>
        </button>
        <button ng-click="saveLoadMetaDataDetail(true)" ng-disabled="!cmdc.formValidate.$dirty" ng-if="!update" type="button" class="btn btn-labeled btn-info">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span><span class="hidden-480">Save and New</span>
        </button>
        <button class="btn btn-labeled btn-danger" ng-click="cancelBtn()">
            <span class="btn-label">
                <i class="fa fa-times"></i>
            </span><span class="hidden-480">Cancel</span>
        </button>
    </div>
    <!-- END Language list    -->
    Metadata
    <small>Create</small>
</h3>

<div class="panel panel-default">


    <div class="panel-body">
        <form class="form-horizontal form-validate" name="cmdc.formValidate" novalidate="">
            <div class="form-group">
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3" ng-class="{ 'has-error': cmdc.validateInput(cmdc.formValidate.LoadType, 'required') }">

                                <label for="load-type" class="control-label requiredLabel">Type</label>
                                <ui-select required="" name="LoadType" id="load-type" ng-model="cmdc.LoadTypes.selected" theme="bootstrap" ng-disabled="cmdc.disabled" style="width: 100%">
                                    <ui-select-match placeholder="Select a Load Type...">
                                        {{$select.selected.Name}}
                                        <span class="resetDdl" ng-click="clear($event)">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="role in cmdc.LoadTypes | propsFilter: {Name: $select.search}">
                                        <div ng-bind-html="role.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    
                                </ui-select>
                            </div>
                            <div class="col-sm-3" ng-class="{ 'has-error': cmdc.validateInput(cmdc.formValidate.Source, 'required') }">
                                <label for="Source" class="control-label requiredLabel">Source</label>
                                <ui-select required="" name="Source" id="Source" ng-model="cmdc.Sources.selected" theme="bootstrap" ng-disabled="cmdc.disabled" style="width: 100%">
                                    <ui-select-match placeholder="Select a Role...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="role in cmdc.Sources | propsFilter: {Name: $select.search}">
                                        <div ng-bind-html="role.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-sm-3" ng-class="{ 'has-error': cmdc.validateInput(cmdc.formValidate.Currency, 'required') }">
                                <label for="Currency" class="control-label requiredLabel">Currency</label>
                                <ui-select required=""name="Currency" id="Currency" ng-model="cmdc.Currencies.selected" theme="bootstrap" ng-disabled="cmdc.disabled" style="width: 100%">
                                    <ui-select-match placeholder="Select a Role...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="role in cmdc.Currencies | propsFilter: {Name: $select.search}">
                                        <div ng-bind-html="role.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-sm-3" ng-class="{ 'has-error': cmdc.validateInput(cmdc.formValidate.Status, 'required') }">
                                <label for="Status" class="control-label requiredLabel">Status</label>
                                <ui-select required=""name="Status" id="Status" ng-model="cmdc.Status.selected" theme="bootstrap" ng-disabled="cmdc.disabled" style="width: 100%">
                                    <ui-select-match placeholder="Select a Role...">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="role in cmdc.Status | propsFilter: {Name: $select.search}">
                                        <div ng-bind-html="role.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': cmdc.validateInput(cmdc.formValidate.Name, 'required') }">
                                <label for="name" class="control-label requiredLabel">Name</label>
                                <input id="name" ng-model="Name" name="Name" type="text" placeholder="Name" required=""
                                       uib-tooltip="{{ cmdc.validateInput(cmdc.formValidate.Name, 'required') ? 'This field is required.' : ''}}"
                                       uib-tooltip-trigger="focus"
                                       uib-tooltip-placement="bottom"
                                       class="form-control">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12" ng-class="{ 'has-error': cmdc.validateInput(cmdc.formValidate.Description, 'required') }">
                                <label for="description" class="control-label requiredLabel">Description</label>
                                <textarea id="description" type="text" placeholder="Description" required="" class="form-control" ng-model="Description" name="Description"
                                          uib-tooltip="{{ cmdc.validateInput(cmdc.formValidate.Description, 'required') ? 'This field is required.' : '' }}"
                                          uib-tooltip-trigger="focus"
                                          uib-tooltip-placement="bottom"></textarea>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-md-12" ng-class="{ 'has-error': cmdc.validateInput(cmdc.formValidate.Header, 'required') }">
                                <label for="header" class="control-label requiredLabel">Header</label>
                                <input id="header" type="text" placeholder="Header"
                                       ng-model="Header" name="Header"
                                       uib-tooltip="{{ cmdc.validateInput(cmdc.formValidate.Header, 'required') ? 'This field is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       uib-tooltip-placement="bottom"
                                       required class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12" ng-class="{ 'has-error': cmdc.validateInput(cmdc.formValidate.Footer, 'required') }">
                                <label for="footer" class="control-label requiredLabel">Trailer</label>
                                <input id="footer" type="text" placeholder="Footer" required="" class="form-control" ng-model="Footer" name="Footer"
                                       uib-tooltip="{{ cmdc.validateInput(cmdc.formValidate.Footer, 'required') ? 'This field is required.' : '' }}"
                                       uib-tooltip-trigger="focus"
                                       uib-tooltip-placement="bottom">
                            </div>
                        </div>
                    </div>

                </fieldset>



            </div>
        </form>
    </div>
</div>