<div ng-show="IsShowEdit">
    <div class="pull-right margin-right-10">
        <button ng-click="saveLoadMetaDataDetail()" class="btn btn-green" ng-disabled="!loadForm.$dirty">Save</button>
        <button ng-click="onEditCancel()" class="btn btn-default">Cancel</button>
    </div>
    <legend>Load Meta Data</legend>

    <form class="form-horizontal" name="loadForm">
        <div class="form-group">
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <label for="load-type-sel" class="control-label">Load Types</label>
                            <div uib-dropdown="dropdown" class="btn-group">
                                <button id="load-type-sel" uib-dropdown-toggle="" class="btn btn-default">
                                    Select <b class="caret"></b>
                                </button>
                                <ul role="menu" class="dropdown-menu animated flipInX">
                                    <li ng-repeat="load in LoadTypes">
                                        <a ng-click="LoadTypeChange(load)">{{load.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="source-sel" class="control-label">Source</label>
                            <div uib-dropdown="dropdown" class="btn-group">
                                <button id="source-sel" uib-dropdown-toggle="" class="btn btn-default">
                                    Select <b class="caret"></b>
                                </button>
                                <ul role="menu" class="dropdown-menu animated flipInX">
                                    <li ng-repeat="source in Sources">
                                        <a ng-click="SourceChange(source)">{{source.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="currency-sel" class="control-label">Currency</label>
                            <div uib-dropdown="dropdown" class="btn-group">
                                <button id="currency-sel" uib-dropdown-toggle="" class="btn btn-default">
                                    Select <b class="caret"></b>
                                </button>
                                <ul role="menu" class="dropdown-menu animated flipInX">
                                    <li ng-repeat="currency in Currencies">
                                        <a ng-click="CurrencyChange(currency)">{{currency.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="status-sel" class="control-label">Status</label>
                            <div uib-dropdown="dropdown" class="btn-group">
                                <button id="status-sel" uib-dropdown-toggle="" class="btn btn-default">
                                    Select <b class="caret"></b>
                                </button>
                                <ul role="menu" class="dropdown-menu animated flipInX">
                                    <li ng-repeat="status in Statuses">
                                        <a ng-click="StatusChange(status)">{{status.Name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-md-6">
                            <label for="header" class="control-label">Header</label>
                            <input id="header" type="text" placeholder="Header" class="form-control" ng-model="mdc.Header">
                        </div>
                        <div class="col-md-6">
                            <label for="footer" class="control-label">Footer</label>
                            <input id="footer" type="text" placeholder="Footer" class="form-control" ng-model="mdc.Footer">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-md-6">
                            <label for="name" class="control-label">Name</label>
                            <input id="name" type="text" placeholder="Name" class="form-control" ng-model="mdc.Name">
                        </div>
                        <div class="col-md-6">
                            <label for="description" class="control-label">Description</label>
                            <textarea id="description" type="text" placeholder="Description" class="form-control" ng-model="mdc.Description"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>

</div>