<h3>
    <!-- START Language list-->
    <div class="pull-right">
        <a ui-sref="app.CreateMetaData" class="btn btn-info btn-labeled pull-right margin-right-40">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span>New
        </a>
    </div>
    <!-- END Language list    -->
    Metadata
    <small>Details</small>
</h3>


<div class="container-fluid">
    <!-- Grid view to show listview with searching, sorting and pagination-->
    <div ui-grid="mdc.gridOptions" ui-grid-pagination class="table-uigrid">

        <!--<div class="" ng-hide="!loading">
            <div class="line-scale-pulse-out" style="position: absolute; left: 0;  right: 0; top: 100px; vertical-align: middle; text-align: center">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>-->
    </div>
</div>
