<!-- START panel-->
<div class="panel panel-default">
    <div class="panel-heading">Create New Load</div>
    <div class="panel-body">
        <div form-wizard="" validate-steps="true" validate-form="" steps="4">
            <div class="form-wizard wizard-horizontal">
                <!-- START wizard steps indicator-->
                <ol class="row">
                    <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-3">
                        <h4>Load</h4>
                        <small class="text-muted">Short Description</small>
                    </li>
                    <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-3">
                        <h4>MetaData</h4>
                        <small class="text-muted">Short Description</small>
                    </li>
                    <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-3">
                        <h4>Confirmation</h4>
                        <small class="text-muted">Short Description</small>
                    </li>
                    <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)" class="col-md-3">
                        <h4>Done!</h4>
                        <small class="text-muted">Short Description</small>
                    </li>
                </ol>
                <!-- END wizard steps indicator-->
                <!-- START Wizard Step inputs -->
                <div id="step1" ng-show="wizard.active(1)">
                    <fieldset>
                        <legend>Load</legend>
                        <!-- START row -->
                        
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="form-group margin-top-20">
                                    <label class="control-label col-md-2">Name</label>
                                    <div class="col-md-6">
                                        <input type="text" name="name" data-parsley-group="step1" placeholder="Your name here" required="required" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END row -->
                    </fieldset>
                    <ul class="pager">
                        <li class="next">
                            <a href="#" ng-click="wizard.go(2)">Next <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div id="step2" ng-show="wizard.active(2)">
                    <fieldset>
                        <legend>MetaData</legend>
                        <!-- START row -->
                        <div class="row">
                            <div class="form-horizontal">
                                <div class="form-group margin-top-20">
                                    <label for="source-sel" class="control-label col-md-2">Source</label>
                                    <div uib-dropdown="dropdown" class="col-md-6">
                                        <button id="source-sel" uib-dropdown-toggle="" class="btn btn-default" style="width: 100%">
                                            Select <b class="caret"></b>
                                        </button>
                                        <ul role="menu" class="dropdown-menu animated flipInX" style="width: 100%; text-align: center">
                                            <li ng-repeat="obj in LoadMetadataDropDown">
                                                <a ng-click="showHideFileUploader(obj)">{{obj.Name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!-- END row -->
                        <div class="row">
                            
                            <form class="form-horizontal">
                                <div class="form-group margin-top-20">
                                          <label class="control-label col-md-2">Load Type</label>
                                          <div class="col-md-6">
                                              <input class="form-control" type="text" ng-model="LoadTypeName" ng-readonly="true" />
                                          </div>
                                      </div>
                                <div class="form-group margin-top-20">
                                    <label class="control-label col-md-2">Source</label>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" ng-model="SourceName" ng-readonly="true" />
                                    </div>
                                </div>
                            
                                <div class="form-group margin-top-20">
                                    <label class="control-label col-md-2">Header</label>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" ng-model="Header" ng-readonly="true" />
                                    </div>
                                </div>
                                
                                <div class="form-group margin-top-20">
                                    <label class="control-label col-sm-2">Trailer</label>
                                    <div class="col-md-6">
                                        <input class="form-control" type="text" ng-model="Trailer" ng-readonly="true" />
                                    </div>
                                </div>
                                
                                <div class="form-group margin-top-20" ng-show="IsLoadTypeMT940">
                                    <label class="control-label col-sm-2">Upload File</label>
                                    <div class="col-md-6">
                                        <input class="form-control" type="file" onchange=" angular.element(this).scope().readPhotoURL(this) " />
                                    </div>
                                </div>
                            </form>

                        </div>
                        
                        
                        

                    </fieldset>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(1)">
                                <span>&larr; Previous</span>
                            </a>
                        </li>
                        <li class="next">
                            <a href="#" ng-click="wizard.go(3)">Next <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div id="step3" ng-show="wizard.active(3)">
                    <fieldset>
                        <legend>Confirmation</legend>
                        <!-- START row -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" name="email" data-parsley-group="step3" placeholder="john@snow.com" required="required" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" name="phone" data-parsley-group="step3" placeholder="11-2345-6789" required="required" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!-- END row -->
                    </fieldset>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(2)">
                                <span>&larr; Previous</span>
                            </a>
                        </li>
                        <li class="next">
                            <a href="#" ng-click="wizard.go(4)">Next <span>&rarr;</span></a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
                <!-- START Wizard Step inputs -->
                <div id="step4" ng-show="wizard.active(4)">
                    <div class="jumbotron">
                        <h1>Done!</h1>
                        <p>In vulputate mattis ipsum vitae vehicula. Praesent at arcu non arcu convallis pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            <button type="button" class="btn btn-info btn-lg">You can Proceed Now</button>
                        </p>
                    </div>
                    <ul class="pager">
                        <li class="previous">
                            <a href="#" ng-click="wizard.go(3)">
                                <span>&larr; Previous</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END Wizard Step inputs -->
            </div>
        </div>
    </div>
</div>
<!-- END panel -->