<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Desc">
    <meta name="keywords" content="Gulf">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="~/app/css/bootstrap.css">
    <!-- Application styles-->
    <link href="~/app/css/app.css" rel="stylesheet" />
    @if (FRS.Web.Resources.Shared.Common.TextDirection == "rtl")
    {
        <link rel="stylesheet" href="~/app/css/app-rtl.css" @*data-ng-if="app.layout.isRTL"*@>
        <link rel="stylesheet" href="~/app/css/bootstrap-rtl.css" @*data-ng-if="app.layout.isRTL"*@>
    }

    <!-- Themes-->
    <link rel="stylesheet" href="~/app/css/theme-e.css">
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/Plugins/angular.js"></script>
</head>
<body>
    <div data-preloader></div>
    <section class="wrapper" data-ui-view>

        <nav class="navbar topnavbar">
            @Html.Partial("Partial/_TopNavBarPartial")
        </nav>

        <aside class="aside">
            @Html.Partial("Partial/_SidebarPartial")
        </aside>

        @*<aside class="offsidebar">
                #offsidebar content (right)
            </aside>*@

        <section>
            <div class="content-wrapper" data-ui-view>
                @RenderBody()
            </div>
        </section>

        <footer>
            <span class="ng-binding">© 2016 - Angle</span>
        </footer>

    </section>
    @*<script src="~/app/js/base.js"></script>*@
    @*<script src="~/app/js/app.js"></script>*@
    <script src="~/Areas/FRS/Scripts/frsapp.js"></script>
</body>
</html>