{{LoadTypes | json}}
<div class="row">
    <div class="col-md-3">
        <!-- START box placeholder-->
        <div class="box-placeholder">
            <!-- START button group-->
            <div uib-dropdown="dropdown" class="btn-group">
                <button uib-dropdown-toggle="" class="btn btn-default">
                    LoadTypes <b class="caret"></b>
                </button>
                <ul role="menu" class="dropdown-menu animated flipInX" ng-repeat="LoadTypes">
                    <li>
                        <a href="#">123</a>
                    </li>
                </ul>
            </div>
            <!-- END button group-->
        </div>
        <!-- END box placeholder-->
    </div>
</div>