.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-top-20 {
  margin-top: 20px !important;
}

@media (max-width: 480px) {
  .hidden-480 {
    display: none;
  }
}

.requiredLabel:after 
{
    content: " *";
    font-weight: bold;
    color: red; 
}

.select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
      height: 30px;
      width: 100%
    }

.preloader-progress-bar {
    background-size: auto !important;
    /*width: 128px !important;*/
    height: 128px !important;
}

.preloader-progress {
    height: 128px !important;
    background-size: auto !important;
    width: 128px !important;

}

/*Hide priority number 1 in Grid*/
.ui-grid-header-cell .ui-grid-sort-priority-number {
    display: none;
}

.resetDdl {
    position: absolute;
    right: 25px;
}

/*Indent submenus*/
nav li ul li {
    padding-left: 30px !important;
}
