.margin-right-5 {
  margin-right: 5px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-15 {
  margin-right: 15px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-top-20 {
  margin-top: 20px !important;
}

@media (max-width: 480px) {
  .hidden-480 {
    display: none;
  }
}
.wordWrap{ word-wrap: break-word;}
.requiredLabel:after 
{
    content: " *";
    font-weight: bold;
    color: red; 
}

.select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
      height: 30px;
      width: 100%
    }

.preloader-progress-bar {
    background-size: auto !important;
    /*width: 128px !important;*/
    height: 88px !important;
}

.preloader-progress {
    height: 88px !important;
    background-size: auto !important;
    width: 250px !important;

}

/*Hide priority number 1 in Grid*/
.ui-grid-header-cell .ui-grid-sort-priority-number {
    display: none;
}

.resetDdl {
    position: absolute;
    right: 25px;
}

/*Indent submenus*/
nav li ul li {
    padding-left: 30px !important;
}

.zoomEffect {
    transition: all;
    transition-delay: 0.3s;
    /*transition-timing-function: ease-in-out;*/
}

.zoomEffect:hover, .zoomEffect:focus {
    transform: scale(3, 3);
    position: absolute !important
    /*transform: scaleX(2)*/
}
.bb {
    border-bottom: 2px solid rgba(0, 0, 0, 0.12) !important;
}

.sidebar:not(.show-scrollbar) {
    margin-right: -7px !important;
}
/* I AM DOING THE FOLLOWING*/
/********** FOR GRID TO TAKE PLACE WITHOUT SCROLL BAR**********************/
.content-wrapper {
    padding-bottom: 0px !important;
}
.content-wrapper > h3, .content-wrapper > .content-heading {
    margin-bottom: 7px !important
}
/****************END  FOR GRID TO TAKE PLACE WITHOUT SCROLL BAR*************/

/*****Start for right aligning the tables header*/
   .grid-align-right {
            text-align: right !important;
            padding-right: 0px !important;
        }
            .grid-align-right div div {
                text-align: right !important;
                padding-right: 0px !important;
            }
/*****end right aligning the table headers*/